location ~* ^/_next/static/chunks/app/ {
    expires 365d;
    add_header Cache-Control "public, max-age=31536000, immutable";
    access_log off;
    log_not_found off;
    try_files $uri @nextjs;
}

location ~* ^/(_next|__next)/static/ {
    expires 365d;
    add_header Cache-Control "public, max-age=31536000, immutable";
    access_log off;
    log_not_found off;

    # add_header Link "</_next/static/css/app.css>; rel=preload; as=style" always;
    # add_header Early-Hint true always;

    proxy_hide_header Set-Cookie;
    proxy_ignore_headers Set-Cookie;

    try_files $uri @nextjs;
}