#Examples
#~*foo\.php?$  /app.php;
#~*foo\.html?$ /app.php;
#/marketplace/ $scheme://$host/products/;
#~\/marketplace/product/amazon-redshift-self-serve\/?$ $scheme://$host/warehouse/amazon-redshift;
#~\/marketplace/product/amazon-athena\/?$ $scheme://$host/warehouse/amazon-athena;
#/marketplace/product/google-bigquery $scheme://$host/warehouse/google-bigquery;
